In [1]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
data = pd.read_csv("Credit Card Fraud Risk Analysis.csv")
df = pd.DataFrame(data)

In [7]:
df.head()

,Transaction ID,Customer Name,Merchant Name,Transaction Date,Transaction Amount (INR),Fraud Risk,Fraud Type,State,Card Type,Bank,IsFraud,Fraud Score,Transaction Category,Merchant Location
0,17797619,Pihu Manne,Uber,2024-11-10,11673,Medium,Card Not Present,Telangana,Rupay,ICICI Bank,0,57,Transportation,Bangalore
1,50040671,Hiran Vaidya,Zomato,2024-05-20,16594,Medium,Phishing,Maharashtra,Amex,SBI,0,10,Groceries,Bangalore
2,88177651,Shalv Vasa,Myntra,2024-05-28,23347,Medium,Card Skimming,Uttar Pradesh,Visa,HDFC Bank,0,55,Transportation,Ahmedabad
3,24228305,Taran Shanker,Lifestyle,2024-01-09,20753,Low,Card Skimming,Kerala,Visa,Federal Bank,0,30,E-commerce,Lucknow
4,87307869,Shanaya Kara,Tata Cliq,2024-07-27,6432,Low,Card Skimming,Delhi,Amex,SBI,0,86,Electronics,Hyderabad

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Transaction ID            1000 non-null   int64
 1   Customer Name             1000 non-null   object
 2   Merchant Name             1000 non-null   object
 3   Transaction Date          1000 non-null   datetime64[ns]
 4   Transaction Amount (INR)  1000 non-null   int64
 5   Fraud Risk                1000 non-null   object
 6   Fraud Type                1000 non-null   object
 7   State                     1000 non-null   object
 8   Card Type                 1000 non-null   object
 9   Bank                      1000 non-null   object
 10  IsFraud                   1000 non-null   int64
 11  Fraud Score               1000 non-null   int64
 12  Transaction Category      1000 non-null   object
 13  Merchant Location         1000 non-null   object
dtypes: datetime64[ns](1), int64(4), object(9)
memory usage: 109.5+ KB

In [10]:
#all columns are non-null, No need to handle any null values 
#Transaction date is an object that need to be converted into DateTime

In [21]:
df["Transaction Date"] = pd.to_datetime(df["Transaction Date"])

In [11]:
df.describe()

       Transaction ID  Transaction Amount (INR)      IsFraud  Fraud Score
count    1.000000e+03               1000.000000  1000.000000  1000.000000
mean     5.486023e+07              12226.843000     0.286000    53.179000
std      2.616482e+07               7106.084734     0.452115    25.723815
min      1.003645e+07                141.000000     0.000000    10.000000
25%      3.235345e+07               6218.000000     0.000000    29.000000
50%      5.379576e+07              11999.500000     0.000000    54.000000
75%      7.790521e+07              18207.750000     1.000000    76.000000
max      9.994398e+07              24993.000000     1.000000    95.000000

In [12]:
df['IsFraud'].value_counts()

IsFraud
0    714
1    286
Name: count, dtype: int64

In [14]:
df['Fraud Type'].value_counts()

Fraud Type
Card Not Present    231
Card Skimming       209
Identity Theft      195
Account Takeover    188
Phishing            177
Name: count, dtype: int64

In [13]:
df[df['IsFraud'] ==1]

,Transaction ID,Customer Name,Merchant Name,Transaction Date,Transaction Amount (INR),Fraud Risk,Fraud Type,State,Card Type,Bank,IsFraud,Fraud Score,Transaction Category,Merchant Location
8,66937046,Mannat Kothari,Zomato,2024-11-09,1613,Low,Phishing,Uttar Pradesh,Rupay,HDFC Bank,1,92,Food Delivery,Bangalore
12,49564502,Shamik Sharaf,Big Bazaar,2024-12-05,1521,Medium,Card Skimming,Karnataka,Visa,HDFC Bank,1,25,Food Delivery,Ahmedabad
14,85972172,Prisha Mannan,Reliance Digital,2024-05-29,4486,High,Card Skimming,Maharashtra,Visa,Kotak Bank,1,43,E-commerce,Ahmedabad
17,76910814,Nehmat Upadhyay,Tata Cliq,2024-12-14,3192,Medium,Identity Theft,Kerala,Rupay,Bank of Baroda,1,31,Transportation,Lucknow
19,70649904,Jivika Singhal,Amazon India,2023-12-25,7021,Low,Phishing,Maharashtra,Amex,SBI,1,42,Electronics,Chennai
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,16280115,Bhavin Bera,Reliance Digital,2024-03-03,210,Low,Account Takeover,Maharashtra,Visa,HDFC Bank,1,35,Electronics,Kochi
980,25733018,Jhanvi Krish,Tata Cliq,2024-08-02,18031,High,Card Not Present,Maharashtra,Rupay,ICICI Bank,1,92,E-commerce,Hyderabad
981,92694849,Biju Shanker,Zomato,2024-03-04,4621,Medium,Phishing,Maharashtra,Visa,Kotak Bank,1,91,E-commerce,Chennai
988,11143488,Shanaya Sawhney,Reliance Digital,2024-09-11,295,Medium,Card Skimming,Telangana,Rupay,Axis Bank,1,35,Electronics,Ahmedabad
998,48484987,Rati Date,Lifestyle,2024-08-30,19933,High,Account Takeover,Kerala,Amex,Andhra Bank,1,16,Transportation,Hyderabad

In [22]:
df['Transaction Category'].value_counts()

Transaction Category
Transportation    183
Electronics       179
E-commerce        174
Apparel           162
Groceries         154
Food Delivery     148
Name: count, dtype: int64

,Transaction ID,Customer Name,Merchant Name,Transaction Date,Transaction Amount (INR),Fraud Risk,Fraud Type,State,Card Type,Bank,IsFraud,Fraud Score,Transaction Category,Merchant Location
0,17797619,Pihu Manne,Uber,2024-11-10,11673,Medium,Card Not Present,Telangana,Rupay,ICICI Bank,0,57,Transportation,Bangalore
1,50040671,Hiran Vaidya,Zomato,2024-05-20,16594,Medium,Phishing,Maharashtra,Amex,SBI,0,10,Groceries,Bangalore
2,88177651,Shalv Vasa,Myntra,2024-05-28,23347,Medium,Card Skimming,Uttar Pradesh,Visa,HDFC Bank,0,55,Transportation,Ahmedabad
3,24228305,Taran Shanker,Lifestyle,2024-01-09,20753,Low,Card Skimming,Kerala,Visa,Federal Bank,0,30,E-commerce,Lucknow
4,87307869,Shanaya Kara,Tata Cliq,2024-07-27,6432,Low,Card Skimming,Delhi,Amex,SBI,0,86,Electronics,Hyderabad